.about-us {
  background-color: #fcfaef;

  &__photo {
    height: 200px;

    background-image: url(../images/about-us-photo.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 48px;

    @include on-tablet {
      height: 400px;
      margin-bottom: 120px;
    }

    @include on-desktop {
      height: 460px;
      margin-bottom: 120px;
    }
  }

  &__content {
    @include page-grid;

    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 120px;
    }

    @include on-desktop {
      margin-bottom: 120px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: $main-text-color;
    text-align: left;
    grid-column: 1/-1;
    margin-bottom: 24px;

    @include on-tablet {
      font-size: 40px;
      grid-column: 1 / 4;
      margin-bottom: 0;
    }

    @include on-desktop {
      font-size: 48px;
      grid-column: 1 / 7;
    }
  }

  &__paragraph {
    margin: 0;
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }
  }
}
