.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-desktop {
      row-gap: 56px;
    }
  }

  &__button-wrapper {
    @include page-grid;
  }

  &__button {
    box-sizing: border-box;
    border: 0;

    background-color: #f98921;
    color: #fff;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    border-radius: 8px;
    grid-column: span 2;

    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    @include hover(transform, scale(1.2));

    &:hover {
      background-color: $button-hover-color;
    }

    &:active {
      background-color: $button-active-color;
    }

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    position: relative;
    height: 0;
    padding-bottom: 100%;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__photo {
    position: absolute;

    @include hover(transform, scale(1.2));

    &:hover {
      transform: translateY(-10%);
    }

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    line-height: 140%;
    font-weight: 700;
  }
}
