.contact-us {
  &__wrapper {
    @include page-grid;

    width: 100%;
  }

  &__form {
    width: 100%;
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    padding: 13px 16px;

    font-size: 14px;
    line-height: 140%;

    border: 1px solid #f9f9f9;
    border-radius: 8px;

    background-color: #f9f9f9;

    &--text-area {
      resize: none;
    }
  }

  &__button {
    grid-column: span 2;

    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 48px;

    width: 100%;
    box-sizing: border-box;
    background-color: #f98921;
    color: #fff;

    font-size: 16px;
    line-height: 27px;
    font-weight: 700;

    border: none;
    border-radius: 8px;

    @include hover(transform, scale(1.05));

    &:hover {
      background-color: $button-hover-color;
    }

    &:active {
      background-color: $button-active-color;
    }
  }

  &__contacts {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 1 / 5;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }

    display: grid;
    row-gap: 24px;
    height: 244px;
  }

  &__contact-name {
    font-size: 14px;
    color: #9393a3;
  }

  &__contact-value {
    text-decoration: none;
    font-size: 16px;
    color: #191919;
  }

  &__email {
    text-decoration: none;
    font-size: 16px;
    color: #191919;
  }

  &__contact-value:hover {
    color: blue;
  }
}
