.menu {
  overflow: auto;
  box-sizing: border-box;
  height: 100vh;
  background-color: #fff;
  font-weight: 700;

  &__top {
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 1;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    margin-bottom: 16px;

    text-decoration: none;
    color: $main-text-color;
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &__call-to-order {
    display: block;
    width: fit-content;

    font-weight: 700;
    text-decoration: none;
    color: $main-text-color;
    letter-spacing: 2px;
    padding-bottom: 4px;
    border-bottom: 1px solid $main-text-color;
    text-transform: uppercase;
  }
}
